.DS_Store
/.build
/Packages
/*.xcodeproj
inputs
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcshareddata
.netrc
